@use "../global" as *;

.c-textAndArrowBtn {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 23px calc(33px + 1em);
  border: 1px solid $color-font;
  font-family: $fontEn-main;
  transition: all 0.2s;

  @include mq {
    padding: 30px calc(40px + 1em);
    font-size: rem(20);
  }

  .c-textAndArrowBtn__Text {
    text-align: left;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: $color-font;
    mask-image: url("../images/common/arrow_w16.svg");
    /* Chrome, Safari用 */
    -webkit-mask-image: url("../images/common/arrow_w16.svg");
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    ;
  }

  @include mq {
    &::after {
      width: 20px;
      height: 20px;
      background-color: $color-font;
      mask-image: url("../images/common/arrow_w20.svg");
      /* Chrome, Safari用 */
      -webkit-mask-image: url("../images/common/arrow_w20.svg");
      right: 17px;
    }
  }
}

@media (any-hover: hover) {
  .c-textAndArrowBtn:hover {
    background-color: $color-font;
    color: #fff;

    &::after {
      background-color: #fff;
    }
  }
}

.c-textAndArrowBtn:focus-visible {
  background-color: $color-font;
  color: #fff;

  &::after {
    background-color: #fff;
  }
}

.c-textAndArrowBtn.no-border {
  border: none;
}